.conteudo_grafico h2 {
    width: 70%;
    letter-spacing: 1px;
    color: #bbb;
    transition: 0.4s ease;
}
.conteudo_grafico h2:hover {
    text-shadow: 0px 5px 10px rgba(192, 199, 195, 0.692);
    transform: translateY(-5px);
    cursor: pointer;
}
.fundo_celular {
    max-width: 400px;
}
